 /* This file is for your main application CSS */
 /* @import "./phoenix.css"; */


 .help-block {
   color: red;
   text-transform: capitalize;
   position: absolute;
   top: 40px;
 }

 .form-group {
   position: relative;
   margin-bottom: 25px;
 }